<ul class="cd-hero-slider">
    <!-- autoplay -->
    <li class="selected">
        <div class="cd-full-width">
            <div class="container-fluid js-tm-page-content tm-page-1" data-page-no="1">

                <div class="cd-bg-video-wrapper">
                    <img src="video/red-flower.jpg" class="col-md-12">

                    <!-- video element will be loaded using jQuery -->
                </div> <!-- .cd-bg-video-wrapper -->

                <div class="row">

                    <div class="col-xs-12">
                        <div class="tm-2-col-container tm-bg-white-translucent">

                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 class="tm-text-title" style="text-align: right">فروشگاه محصولات شهریار</h2>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-2-col-right">
                                    <div class="text-xs-left tm-textbox tm-2-col-textbox">
                                        <p class="tm-text">
                                             كالايي كه دريافت مي كنيد، با آنچه در سايت مي بينيد و در مشخصات كالا مي خوانيد، كاملا يكسان مي باشد.
                                        </p>
                                        <p class="tm-text">
                                             مي توانيد در كمترين زمان ممكن، معتبرترين و بهترين برند هاي كالاهاي ورزشي موجود در كشور را با جزييات كامل ببينيد و فقط با چند كليك يا يك تماس تلفني كالاي خود را درب منزل دريافت نماييد.
                                        </p>
                                        <p class="tm-text">

                                             در باني اسپرت كالاي مشابه نداريم، كليه كالاها اورجينال بوده و داراي گارانتي اصلي و ذكر شده در شناسنامه كالا مي باشد
                                        </p>


                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-2-col-left">
                                    <div class="text-xs-left tm-textbox tm-2-col-textbox">
                                        <p class="tm-text">
                                            اسپرت خوش آمدید در بانی اسپرت افتخار مشاوره و راهنمایی شما را جهت مقایسه و فروش انواع لوازم ورزشی و ماساژور دارا می باشیم. در حال حاضر 11451 دستگاه ورزشی در بیش از 25 گروه لوازم ورزشی از
                                            435 برند مختلف،جهت بررسی و مقایسه شما در بانی اسپرت موجود می باشد.
                                            کلیه دستگاه های ورزشی بانی اسپرت دارای گارانتی اصلی بوده و
                                            تلاش نمودیم تا بهترین قیمت ها و آسان ترین خدمات را برای شما فراهم نماییم.
                                        </p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div> <!-- .cd-full-width -->
    </li>

    <li>
        <div class="cd-full-width">

            <div class="container-fluid js-tm-page-content" data-page-no="2">

                <div class="cd-bg-video-wrapper">
                    <img src="video/night-light-blur.jpeg" class="col-sm-12">

                    <!-- video element will be loaded using jQuery -->
                </div> <!-- .cd-bg-video-wrapper -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="tm-flex tm-2-col-container-2">

                            <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                <h2 class="tm-text-title" style="text-align: right">درباره ما</h2>

                                <p class="tm-text">
                                    از آنجایی که در ایران امکان تاسیس مکانی برای تجمع گردهمایی همه اهالی رشته بدنسازی، پرورش اندام و فیتنس وجود ندارد و اگر هم باشد دسترسی همه هموطنان به آن وجود ندارد بر آن شدیم در سایت بادی فول تمامی خدماتی که این رشته های ورزشی نیاز دارد را ارائه نماییم.

                                    این سایت متعلق به شرکت بادی فول با مدیریت آقای اصغر مرادی می باشد و به شما کمک خواهد کرد که در هر نقطه از جهان در رشته های ورزشی بدنسازی، پرورش اندام، فیتنس، فیزیک و بادی کلاسیک فعالیت دارید و یا اگر شغل مرتبط با این رشته ها را دارید نیازهای خود را برطرف سازید.

                                    مهمترین عاملی که باعث عدم موفقیت شما در بدنسازی به عنوان یک شغل یا رشته می شود کمبود اطلاعات و محصولات متناسب با نیاز خود می باشد. ما بنا داریم تمامی اطلاعات و خدمات را آنلاین در اختیار شما قرار دهیم.

                                </p>
                                @*<p class="tm-text">Nulla efficitur, ligula et imperdiet volutpat, lacus tortor tempus massa, eget tempus quam nibh vel nulla.</p>
                                    <p class="tm-text">Vivamus non molestie leo, non tincidunt diam. Mauris sagittis elit in velit ultricies aliquet sed in magna.</p>
                                    <p class="tm-text">Pellentesque semper, est nec consequat viverra, sem augue tincidunt nisi, a posuere nisi sapien sed sapien. Nulla facilisi.</p>*@
                            </div>

                            @*<div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                    <h2 class="tm-text-title">Aliquam sem sem</h2>
                                    <p class="tm-text">Proin sagittis mauris dolor, vel efficitur lectus dictum nec. Sed ultrices placerat arcu, id malesuada metus cursus suscipit. Donex quis consectetur ligula. Proin accumsan eros id nisi porttitor, a facilisis quam cursus.</p>
                                    <p class="tm-text">Donec vitae bibendum est, et ultrices urna. Curabitur ac bibendum augue, a convallis mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris consequat metus hendrerit, tincidunt mi nec, euismod massa.</p>
                                </div>*@

                        </div>
                    </div>
                </div>

            </div>

        </div> <!-- .cd-full-width -->

    </li>

    <!-- Page 3 -->
    <li>

        <div class="cd-full-width">

            <div class="container-fluid js-tm-page-content" data-page-no="3">

                <div class="cd-bg-video-wrapper">
                    <!-- video element will be loaded using jQuery -->
                    <img src="video/moving-cloud.jpg" class="col-sm-12">

                </div> <!-- .cd-bg-video-wrapper -->

                <div class="tm-img-gallery-container">

                    <div class="tm-img-gallery gallery-one">
                        <!-- Gallery One pop up connected with JS code below -->

                        @*<div class="tm-img-gallery-info-container">

                            <h2 class="tm-text-title tm-gallery-title" style="text-align:right">گالری محصولات</h2>
                           

                        </div>*@
                        
                        <h2 class="tm-text-title tm-gallery-title" style="text-align:right">گالری محصولات</h2>

                        <div class="grid-item">
                            <a href="img/tm-img-01.jpg">
                                <img src="img/tm-img-01.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-02.jpg">
                                <img src="img/tm-img-02.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-03.jpg">
                                <img src="img/tm-img-03.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-04.png">
                                <img src="img/tm-img-04.png" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-05-tn.jpg">
                                <img src="img/tm-img-05-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-06.jpg">
                                <img src="img/tm-img-06.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-07.jpg">
                                <img src="img/tm-img-07.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-08.jpg">
                                <img src="img/tm-img-08-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                    </div>

                </div> <!-- .tm-img-gallery-container -->

            </div> <!-- .container-fluid -->

        </div> <!-- .cd-full-width -->

    </li>

    <!-- Page 4 -->
    <li>

        <div class="cd-full-width">

            <div class="container-fluid js-tm-page-content" data-page-no="4">

                <div class="cd-bg-video-wrapper">
                    <img src="video/padaut-bee.jpg" class="col-sm-12">
                    <!-- video element will be loaded using jQuery -->
                </div> <!-- .cd-bg-video-wrapper -->

                <div class="tm-img-gallery-container">

                    <div class="tm-img-gallery gallery-two">
                        <!-- Gallery Two pop up connected with JS code below -->

                        <div class="tm-img-gallery-info-container">

                            <h2 class="tm-text-title tm-gallery-title"><span class="tm-white">Gallery Two</span></h2>
                            <p class="tm-text">
                                <span class="tm-white">Nulla efficitur, ligula et imperdiet volutpat, lacus tortor tempus massa, eget tempus quam nibh vel nulla. Maecenas purus sem, lobortis id odio in, ultrices scelerisque sapien.</span>
                            </p>

                        </div>

                        <div class="grid-item">
                            <a href="img/tm-img-09.jpg">
                                <img src="img/tm-img-09-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-10.jpg">
                                <img src="img/tm-img-10-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-11.jpg">
                                <img src="img/tm-img-11-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-12.jpg">
                                <img src="img/tm-img-12-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-13.jpg">
                                <img src="img/tm-img-13-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-14.jpg">
                                <img src="img/tm-img-14-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-15.jpg">
                                <img src="img/tm-img-15-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a href="img/tm-img-16.jpg">
                                <img src="img/tm-img-16-tn.jpg" alt="Image" class="img-fluid tm-img">
                            </a>
                        </div>
                    </div>

                </div> <!-- .tm-img-gallery-container -->

            </div> <!-- .container-fluid -->

        </div> <!-- .cd-full-width -->

    </li>

    <li>

        <div class="cd-full-width">
            <div class="container-fluid js-tm-page-content" data-page-no="5">

                <div class="cd-bg-video-wrapper">
                    @*<img src="video/sunset-loop.jpg" class="col-sm-12">*@
                    <img src="video/red-flower.jpg" class="col-md-12">
                    
                    <!-- video element will be loaded using jQuery -->
                </div> <!-- .cd-bg-video-wrapper -->

                <div class="row">

                    <div class="col-xs-12">
                        <div class="tm-flex tm-3-col-container">

                            <div class="tm-3-col-textbox tm-bg-white-translucent">
                                <div class="text-xs-left tm-textbox tm-textbox-padding">

                                    <h2 class="tm-text-title">Testimonial One</h2>
                                    <p class="tm-text">Etiam vitae imperdiet magna. Vestibulum blandit vehicula metus, ac ornare eros elementum et. Pellentesque habitant morbi tristique senectus et ntus et malesuada fames ac turpis egestas.</p>

                                    <p class="tm-text">Mauris lobortis lorem nulla, non tristique enim sollicitudin eu. Praesent tempus dapibus odio nec elementum.</p>

                                </div>
                            </div>

                            <div class="tm-3-col-textbox tm-bg-white-translucent">
                                <div class="text-xs-left tm-textbox tm-textbox-padding">

                                    <h2 class="tm-text-title">Testimonial Two</h2>

                                    <p class="tm-text">Curabitur sodales, est auctor congue vulputate, nisl tellus finibus nunc, vitae consectetur enim erat vitae quam.</p>

                                    <p class="tm-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vitae tempor turpis.</p>
                                </div>
                            </div>

                            <div class="tm-3-col-textbox tm-bg-white-translucent">
                                <div class="text-xs-left tm-textbox tm-textbox-padding">

                                    <h2 class="tm-text-title">Testimonial Three</h2>

                                    <p class="tm-text">Mauris lobortis lorem nulla, non tristique enim sollicitudin eu. Praesent tempus dapibus odio nec elementum.</p>

                                    <p class="tm-text">Sed elementum est quis tortor faucibus, et molestie nibh finibus. Mauris condimentum ex vestibulum fringilla consectetur.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </li>

    <li>
        <div class="cd-full-width">

            <div class="container-fluid js-tm-page-content" data-page-no="6">

                <div class="cd-bg-video-wrapper" data-video="video/sunset-cloud">
                    <!-- video element will be loaded using jQuery -->
                </div> <!-- .cd-bg-video-wrapper -->

                <div class="tm-contact-page">

                    <div class="row">

                        <div class="col-xs-12">

                            <div class="tm-flex tm-contact-container">

                                <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">
                                    <p class="tm-text" style="text-align:right">برای خرید محصولات با ما در ارتباط باشید</p>

                                    <!-- contact form -->
                                    <form action="index.html" method="post" class="tm-contact-form">

                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-form-group-left">
                                            <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required />
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-form-group-right">
                                            <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" id="contact_subject" name="contact_subject" class="form-control" placeholder="Subject" required />
                                        </div>

                                        <div class="form-group">
                                            <textarea id="contact_message" name="contact_message" class="form-control" rows="5" placeholder="Your message" required></textarea>
                                        </div>

                                        <button type="submit" class="pull-xs-right tm-submit-btn">Send</button>

                                    </form>
                                </div>

                                <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">
                                    <h2 class="tm-contact-info" style="text-align: right">آدرس شرکت</h2>
                                    <!-- google map goes here -->
                                    <div id="google-map"></div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div> <!-- .cd-full-width -->
    </li>
</ul> 

@section script
{


    <script type="text/javascript">

        /* Google map
     ------------------------------------------------*/
        var map = '';
        var center;

        function initialize() {
            var mapOptions = {
                zoom: 15,
                center: new window.google.maps.LatLng(37.769725, -122.462154),
                scrollwheel: false
            };

            map = new window.google.maps.Map(document.getElementById('google-map'), mapOptions);

            window.google.maps.event.addDomListener(map,
                'idle',
                function() {
                    calculateCenter();
                });

            window.google.maps.event.addDomListener(window,
                'resize',
                function() {
                    map.setCenter(center);
                });
        }

        function calculateCenter() {
            center = map.getCenter();
        }

        function loadGoogleMap() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
            document.body.appendChild(script);
        }

        // DOM is ready
        $(function() {
            loadGoogleMap(); // Google Map
        });

    </script>
}